

<div
class=" px-4 py-12 sm:px-6lg:py-16 xl:py-24"
>
<div class="">
    <div class="flex flex-col justify-center items-center">
        <p class="text-green-500 text-left font-bold text-lg md:text-xl">4 STEP WORK PROCESS</p>
        <h2 class="text-left font-bold text-4xl md:text-4xl">Working Process</h2>
        
    </div>

</div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 max-w-1/4 md:w-7xl mx-auto
    ">
    
        <!-- Discover -->
        <div class="bg-white p-8 rounded-md ">
            <svg xmlns="http://www.w3.org/2000/svg"class="w-1/4 " viewBox="0 0 48 48"><circle cx="24" cy="22" r="20" fill="#FFF59D"/><path fill="#FBC02D" d="M37 22c0-7.7-6.6-13.8-14.5-12.9c-6 .7-10.8 5.5-11.4 11.5c-.5 4.6 1.4 8.7 4.6 11.3c1.4 1.2 2.3 2.9 2.3 4.8v.3h12v-.1c0-1.8.8-3.6 2.2-4.8c2.9-2.4 4.8-6 4.8-10.1z"/><path fill="#FFF59D" d="m30.6 20.2l-3-2c-.3-.2-.8-.2-1.1 0L24 19.8l-2.4-1.6c-.3-.2-.8-.2-1.1 0l-3 2c-.2.2-.4.4-.4.7s0 .6.2.8l3.8 4.7V37h2V26c0-.2-.1-.4-.2-.6l-3.3-4.1l1.5-1l2.4 1.6c.3.2.8.2 1.1 0l2.4-1.6l1.5 1l-3.3 4.1c-.1.2-.2.4-.2.6v11h2V26.4l3.8-4.7c.2-.2.3-.5.2-.8s-.2-.6-.4-.7z"/><circle cx="24" cy="44" r="3" fill="#5C6BC0"/><path fill="#9FA8DA" d="M26 45h-4c-2.2 0-4-1.8-4-4v-5h12v5c0 2.2-1.8 4-4 4z"/><path fill="#5C6BC0" d="m30 41l-11.6 1.6c.3.7.9 1.4 1.6 1.8l9.4-1.3c.4-.6.6-1.3.6-2.1zm-12-2.3v2L30 39v-2z"/></svg>
            <h2 class="text-3xl font-semibold mb-2">Discover</h2>
            <p class="text-gray-600 text-xl">Embark on a journey of exploration with Digital Arena. Discover innovative solutions tailored to meet your unique business needs. We delve deep into understanding your requirements, ensuring a foundation for success.</p>
        </div>
    
        <!-- Design & Development -->
        <div class="bg-white p-8 rounded-md ">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/4 " viewBox="0 0 48 48"><path fill="#BBDEFB" d="M4 7h40v34H4z"/><path fill="#3F51B5" d="M9 12h30v5H9z"/><path fill="#2196F3" d="M9 21h13v16H9zm17 0h13v16H26z"/></svg>
            <h2 class="text-3xl font-semibold mb-2 whitespace-nowrap">Design & Development</h2>
            <p class="text-gray-600 text-xl">At Digital Arena, we transform ideas into reality through cutting-edge design and development. Our expert team crafts solutions that not only meet but exceed expectations. Experience the power of seamless integration and captivating design..</p>
        </div>
    
        <!-- Install & Testing -->
        <div class="bg-white p-8 rounded-md ">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/4 " viewBox="0 0 48 48"><path fill="#E65100" d="M25.6 34.4c.1-.4.1-.9.1-1.4s0-.9-.1-1.4l2.8-2c.3-.2.4-.6.2-.9l-2.7-4.6c-.2-.3-.5-.4-.8-.3L22 25.3c-.7-.6-1.5-1-2.4-1.4l-.3-3.4c0-.3-.3-.6-.6-.6h-5.3c-.3 0-.6.3-.6.6l-.4 3.5c-.9.3-1.6.8-2.4 1.4L6.9 24c-.3-.1-.7 0-.8.3l-2.7 4.6c-.2.3-.1.7.2.9l2.8 2c-.1.4-.1.9-.1 1.4s0 .9.1 1.4l-2.8 2c-.3.2-.4.6-.2.9l2.7 4.6c.2.3.5.4.8.3L10 41c.7.6 1.5 1 2.4 1.4l.3 3.4c0 .3.3.6.6.6h5.3c.3 0 .6-.3.6-.6l.3-3.4c.9-.3 1.6-.8 2.4-1.4l3.1 1.4c.3.1.7 0 .8-.3l2.7-4.6c.2-.3.1-.7-.2-.9l-2.7-2.2zM16 38c-2.8 0-5-2.2-5-5s2.2-5 5-5s5 2.2 5 5s-2.2 5-5 5z"/><path fill="#FFA000" d="M41.9 15.3c.1-.5.1-.9.1-1.3s0-.8-.1-1.3l2.5-1.8c.3-.2.3-.5.2-.8l-2.5-4.3c-.2-.3-.5-.4-.8-.2l-2.9 1.3c-.7-.5-1.4-.9-2.2-1.3l-.3-3.1c.1-.3-.1-.5-.4-.5h-4.9c-.3 0-.6.2-.6.5l-.3 3.1c-.8.3-1.5.7-2.2 1.3l-2.9-1.3c-.3-.1-.6 0-.8.2l-2.5 4.3c-.2.3-.1.6.2.8l2.5 1.8V14c0 .4 0 .8.1 1.3l-2.5 1.8c-.3.2-.3.5-.2.8l2.5 4.3c.2.3.5.4.8.2l2.9-1.3c.7.5 1.4.9 2.2 1.3l.3 3.1c0 .3.3.5.6.5h4.9c.3 0 .6-.2.6-.5l.3-3.1c.8-.3 1.5-.7 2.2-1.3l2.9 1.3c.3.1.6 0 .8-.2l2.5-4.3c.2-.3.1-.6-.2-.8l-2.8-1.8zM33 19c-2.8 0-5-2.2-5-5s2.2-5 5-5s5 2.2 5 5s-2.2 5-5 5z"/></svg>
            <h2 class="text-3xl font-semibold mb-2">Install & Testing</h2>
            <p class="text-gray-600 text-xl">Seamless implementation and rigorous testing are the cornerstones of our approach. Digital Arena ensures that every solution is not only installed seamlessly but rigorously tested for optimal performance. Your success is our priority</p>
        </div>
    
        <!-- Project Delivery -->
        <div class="bg-white p-8 rounded-md ">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-1/4"  viewBox="0 0 48 48"><path fill="#8BC34A" d="M43 36H29V14h10.6c.9 0 1.6.6 1.9 1.4L45 26v8c0 1.1-.9 2-2 2z"/><path fill="#388E3C" d="M29 36H5c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h22c1.1 0 2 .9 2 2v27z"/><g fill="#37474F"><circle cx="37" cy="36" r="5"/><circle cx="13" cy="36" r="5"/></g><g fill="#78909C"><circle cx="37" cy="36" r="2"/><circle cx="13" cy="36" r="2"/></g><path fill="#37474F" d="M41 25h-7c-.6 0-1-.4-1-1v-7c0-.6.4-1 1-1h5.3c.4 0 .8.3.9.7l1.7 5.2c0 .1.1.2.1.3V24c0 .6-.4 1-1 1z"/><path fill="#DCEDC8" d="m21.8 13.8l-7.9 7.9l-3.7-3.8L8 20.1l5.9 5.9L24 15.9z"/></svg>
            <h2 class="text-3xl font-semibold mb-2">Project Delivery</h2>
            <p class="text-gray-600 text-xl">Experience the culmination of precision and dedication at Digital Arena. Our project delivery is a testament to our commitment to excellence. From concept to completion, we ensure a smooth and successful journey for every project.</p>
        </div>
    
    </div>
    
