<button onclick="openEmail()">Contact Us</button>

<script is:inline>
    function openEmail() {
        // Replace 'company@info.com' with your desired email address
        window.location.href = 'mailto:company@info.com';
    }
</script>