---
import about from '../../assets/about-ilustration.svg'
import { Image } from 'astro:assets';

---

<div class="bg-gray-200 pt-20  py-20 px-5">

<div class="w-full grid grid-cols-1 lg:grid-cols-2 md:gap-x-20 justify-items-center bg-gray-200">

    <div>

     
                <div class="py-5">
                    <p class="text-green-500 text-left font-bold text-lg md:text-2xl  space-y-10">ABOUT OUR COMPANY</p>
                    <h2 class="text-left font-bold text-4xl  md:text-4xl leading-[50px]">Providing Your Business With A Quality IT Service is Our Passion</h2>
                    <p class="text-xl">At digital arena, we are driven by a passion to deliver top-notch IT services for your business</p>
                </div>

            <div class="one flex flex-col  space-y-2 bg-gray-200 pb-[50px] pt-10 w-full" >
           <div class="flex justify-between w-full"> <p class="font-bold">IT</p>  <p>90%</p> </div>
             <div class="progress-value "></div>
             <div class="flex justify-between w-full"> <p class="font-bold">Energetics</p>  <p>95%</p> </div>
          <div class="progress-value-1 "></div>
          <div class="flex justify-between w-full"> <p class="font-bold">SEO, GDPR,ICT</p>  <p>90%</p> </div>
            <div class="progress-value-2 "></div>
            <div class="py-8">
            <button class="bg-green-800 text-lg px-6 py-2 rounded-md md:text-xl md:px-16 md:py-5 text-white max-w-[16rem] ">Learn More <button/>
            </div>
          </div>
            </div>
                <div class="w-1/2 flex">
                    <img src={about.src} alt="about image" class="w-full" />
                </div>

</div>
<script></script>

<style>
.one {
  display: flex-start;;
  height: 20;
  padding: 0;
  margin: 0;
}
.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #4caf50;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 90%; }
}
.progress-value-1 {
  animation: load-1 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #4caf50;
  height: 10px;
  width: 0;
}

@keyframes load-1 {
  0% { width: 0; }
  100% { width: 95%; }
}
.progress-value-2 {
  animation: load-2 4s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #4caf50;
  height: 10px;
  width: 0;
}

@keyframes load-2 {
  0% { width: 0; }
  100% { width: 90%; }
}


</style>