---
import servicesDetails from  '../../assets/it-security.jpg'
import {Image} from 'astro:assets'
---

<div class="p-5 lg:flex items-start justify-start gap-10 lg:py-20 md:max-w-3xl lg:max-w-7xl md:pt-20 mx-auto">
    <div class="space-y-5 lg:w-2/3">
    <img src={servicesDetails.src} alt="it" />
    <h2 class="text-2xl font-bold">Ensuring Compliance and Security in the Digital Era</h2>
    <p>At digital arena, we specialize in providing comprehensive information system audit services, ensuring your systems adhere to the highest international standards, including ISO 27001 and ISO 22301.</p>
  
    <h2 class="text-2xl font-bold">Protecting Personal Data with GDPR Compliance</h2>
    <p>Our commitment extends to GDPR compliance, safeguarding the personal data of all stakeholders in your business, including employees, customers, partners, and suppliers. We prioritize the security and privacy of sensitive information to meet regulatory requirements.</p>
  
    <h2 class="text-2xl font-bold">Outsourcing CISO for Robust Security Measures</h2>
    <p>Digital arena offers CISO outsourcing services to strengthen your cybersecurity posture. Our comprehensive approach includes risk assessment, business impact analysis, and the development of strategies tailored to your organization. Additionally, we provide IT security education services to empower your team with the knowledge needed to mitigate potential threats.</p>
  
    <p>Partner with digital arena to harmonize your systems according to industry-leading standards, achieve GDPR compliance, and enhance your cybersecurity resilience through CISO outsourcing. Let us navigate the complexities of information security, so you can focus on the core aspects of your business.</p>
   </div>

<div class=" bg-gray-200 p-3 mt-4 lg:mt-0 rounded-md lg:w-1/3">
    <p class="text-left font-bold text-2xl md:text-xl py-5 border-b-2 border-white"><span class="border-b-2 border-green-500   py-[21px]">Our Se</span>rvices</p>
    <div>
        <ul class="p-4 space-y-3">
            <li>
              <a href="/services/it" class="text-white bg-green-500 py-3 rounded-lg p-5 hover:bg-green-600 block">IT Solutions</a>
            </li>
            <li>
              <a href="/services/energetics" class="text-white bg-green-500 py-3 rounded-lg p-5 hover:bg-green-600 block">Energetics</a>
            </li>
            <li>
              <a href="/services/ict" class="text-white bg-green-500 py-3 rounded-lg p-5 hover:bg-green-600 block">ICT</a>
            </li>
            <li>
                <a href="/services/isoGdprCisco" class="text-white bg-green-500 py-3 rounded-lg p-5 hover:bg-green-600 block">ISO standards, GDPR compliance and CISO externalization</a>
            </li>
            <!-- <li>
              <a href="#" class="text-white bg-green-500 py-3 rounded-lg p-5 hover:bg-green-600 block">Software Development</a>
            </li> -->
          </ul>
   </div>
</div>